.tables {
    // overflow-x: scroll;
    // overflow: visible;
    max-width: 1000px;
}

.table>tr, .table>th {
    display: grid;
}
.table>tr>td {
    display: flex;
    align-items: center;
    justify-content: center;
}